/* TABLET */
@media (max-width: 1024px) {
  .login {
    flex-direction: column;
    max-width: 600px;
  }

  .photo {
    height: 300px;
  }

  .photo-frame img {
    object-fit: cover;
  }
}

/* CELULAR */
@media (max-width: 600px) {
  .login {
    width: 100%;
    border-radius: 16px;
  }

  .login_inputs {
    padding: 24px;
    gap: 12px;
  }

  .login_inputs img {
    width: 180px;
  }

  .login_inputs input {
    max-width: 100%;
    font-size: 16px;
    padding: 12px;
  }

  .Bttn-LoginRegister {
    max-width: 100%;
    padding: 14px;
    font-size: 16px;
  }

  .photo {
    height: 220px;
    padding: 10px;
  }

  .photo-frame {
    padding: 8px;
  }
}
  

  .home {
    width: 100%;
    min-height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
   
  
    background: radial-gradient(circle at center, #111 0%, #000 70%);
  }
  
  /* card branco */
  .login {
    width: 95%;
    max-width: 1200px; /* limita no desktop */
    min-height: 600px;
  
    display: flex;
    flex-direction: row;
  
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  }
  
  /* lado esquerdo */
  .login_inputs {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    justify-content: space-evenly;
  
    padding: 32px;
    gap: 8px;
  }
  
  .login_inputs img {
    width: 300px;
    margin-bottom: 16px;
  }
  
  /* inputs */
  .login_inputs input {
    width: 100%;
    max-width: 260px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  /* botão */
  .Bttn-LoginRegister {
    width: 100%;
    max-width: 260px;
    margin-top: 12px;
  
    padding: 10px;
    border: none;
    border-radius: 6px;
  
    background-color: #1f2937;
    color: #fff;
    cursor: pointer;
  }
  
/* lado direito */
.photo {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px; /* espaço entre card e moldura */
}

/* moldura branca da imagem */
.photo-frame {
  width: 100%;
  height: 100%;

  background-color: #fff;
  border-radius: 16px;

  padding: 12px;          /* ESPAÇO BRANCO VISÍVEL */
  box-sizing: border-box;
}

/* imagem */
.photo-frame img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 12px;    /* borda da imagem */
}
